@import '../../scss';

.lighttheme__products {
    background-color: #fff !important;

    .table__title {
        text-align: center;
    }

    .table__button {
        margin-right: 5px;
    }
}

.darktheme__products {
    background-color: #eee !important;

    .table__title {
        text-align: center;
    }

    .table__button {
        margin-right: 5px;
    }
}

@include xs {
    .lighttheme__products {
        padding: 0 0.2rem 0.2rem 0.2rem;

        .table {
            &__title {
                font-size: $fs-secondary-xs;
            }
        }
    }

    .darktheme__products {
        padding: 0 0.4rem 0.4rem 0.4rem;

        .table {
            &__title {
                font-size: $fs-secondary-xs;
            }
        }
    }
}

@include sm {
    .lighttheme__products {
        padding: 0 0.6rem 0.6rem 0.6rem;

        .table {
            &__title {
                font-size: $fs-secondary-sm;
            }
        }
    }

    .darktheme__products {
        padding: 0 0.6rem 0.6rem 0.6rem;

        .table {
            &__title {
                font-size: $fs-secondary-sm;
            }

        }
    }
}

@include md {
    .lighttheme__products {
        padding: 0 0.8rem 0.8rem 0.8rem;

        .table {
            &__title {
                font-size: $fs-secondary-md;
            }
        }
    }

    .darktheme__products {
        padding: 0 0.8rem 0.8rem 0.8rem;

        .table {
            &__title {
                font-size: $fs-secondary-md;
            }

            &__content {
                padding: 0.8rem;
            }

        }
    }
}

@include lg {
    .lighttheme__products {
        padding: 0 1rem 1rem 1rem;

        .table {
            &__title {
                font-size: $fs-secondary-lg;
            }

        }
    }

    .darktheme__products {
        padding: 0 1rem 1rem 1rem;

        .table {
            &__title {
                font-size: $fs-secondary-lg;
            }
        }
    }
}